<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="multicase" value="https://nuget.pkg.github.com/MultiCASE/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <multicase>
      <add key="Username" value="MultiCASE" />
      <add key="ClearTextPassword" value="%PRIVATE_NUGET_GITHUB_TOKEN%" />
    </multicase>
  </packageSourceCredentials>
</configuration>
